
body{
        font-size: 20px;
}
header{
    background-color: red;
    display: flex;
    margin-bottom: 0;
    
}
footer{
    background-color: green;
    border: 5px solid red;
    text-align: end;
}
li{
    display: inline-block;
    margin-left: 20px;
    
}

a{
    height: 25PX;
    padding-left: 2%;
    color: rgb(0, 0, 0);
}
.titulo{
    width: 50%;
}
.listas{
    width: 50%;
    text-align: end;
    padding-right: 20px;
    margin-top: 15px;
}

#Caboverde{
    width: 100%;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    border: 5px solid red;
}
#Qatar{
    background-color: lawngreen;
    text-align: center;
    border: 5px solid red;
    margin-top: 0;
}
#Sudrafica{
    background-color: orange;
    text-align: center;
    border: 5px solid red;
}
.h3{
    border: none;
}
.texto_caboverde{
    border: 5px solid gray;
    border-radius: 44px;
}
.texto_Qatar{
    text-decoration: underline;
    border-top: 3px dotted red;
}
